body {
  background: linear-gradient(135deg, #0093e9 0%, #80d0c7 100%);
  min-height: 100vh;
}
.hero {
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  gap: 1rem;
}
.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.title {
  font-size: 2rem;
  color: #ffffff;
}
form {
  justify-self: center;
  margin-bottom: 2rem;
  position: absolute;
  top: 12px;
  right: 10px;
}
input {
  padding: 0.5rem;
}
button {
  width: 100px;
  height: 25px;
  background-color: #e0f7fa;
  color: black;
  border-radius: 5px;
}
.header {
  background-color: rgba(20, 20, 20, 0.9);
}
.main {
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.temp-container {
  width: 50rem;
  padding: 1rem;
  color: #ffffff;
}
.current-temp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'left-side right-side'
    'left-side right-side';
}
.left-side {
  grid-area: left-side;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'icon temp'
    'condition .';
}

.icon-container {
  grid-area: temp;
  align-self: flex-end;
}
.left-side .icon {
  grid-area: icon;
  width: 100px;
}
.condition {
  grid-area: condition;
}
.right-side {
  grid-area: right-side;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.weekly-temp {
  display: flex;
  border-top: 1px solid grey;
  padding-top: 5px;
}
.weekly {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp {
  display: flex;
}
h1 + span {
  font-size: initial;
  font-weight: initial;
  vertical-align: text-top;
}
.icon-container h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}
.icon-container p {
  font-size: 1.1rem;
}
.right-side > div {
  display: flex;
  justify-content: space-between;
}
.right-side > * {
  border-bottom: 1px solid grey;
}
.weekly .icon {
  width: 50px;
}

.min-max {
  display: flex;
  gap: 0.3rem;
}
